<!--

detailedForecast: "Scattered rain showers. Mostly cloudy, with a high near 69. South wind around 17 mph, with gusts as high as 29 mph. Chance of precipitation is 30%."
endTime: "2022-02-17T18:00:00-05:00"
icon: "https://api.weather.gov/icons/land/day/rain_showers,30?size=medium"
isDaytime: true
name: "This Afternoon"
number: 1
shortForecast: "Scattered Rain Showers"
startTime: "2022-02-17T16:00:00-05:00"
temperature: 69
temperatureTrend: null
temperatureUnit: "F"
windDirection: "S"
windSpeed: "17 mph"

-->

<mat-accordion>

    <mat-expansion-panel *ngFor="let data of forecastData | keyvalue: _keyvalue_unsorted">

        <mat-expansion-panel-header>
            <mat-panel-title>
                <div class="sub-title">
                    <div><b>{{data.value['name']}}</b></div>
                    <div>{{data.value['startTime'].split('T')[0]}}</div>
                </div>
            </mat-panel-title>
            <mat-panel-description>
                <table>
                    <tr class="weather-row">
                        <td class="weather-cell">{{data.value['shortForecast']}}</td>
                        <td class="weather-cell">{{data.value['temperature']}}{{data.value['temperatureUnit']}}&deg;</td>
                        <td class="weather-cell">Wind: {{data.value['windDirection']}}{{data.value['windSpeed']}}</td>
                    </tr>
                </table>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div>{{data.value['detailedForecast']}}</div>

    </mat-expansion-panel>

</mat-accordion>
